<%- include('../partials/header') %>

<h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <!-- Write the line of EJS to iterate over movies using forEach -->
      <% flights.forEach(function(m) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.Airport %></td>
          <td><%= f.FlightNo %></td>
          <td><%= f.departs(', ') %></td>
          <!-- finish the ternary expression to display
            'Yes' or 'Nope' --> 
          </tr>
          <!-- Close the forEach using EJS here -->
     
        <td><%= f.departs ? 'Yes' : 'Nope' %></td>
          </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('../partials/footer') %>
